@import './base.css';

/* --- Component Overrides --- */
.v-navigation-drawer {
    background-color: rgba(var(--v-theme-primary-container), 0.5) !important;
    color: rgb(var(--v-theme-on-primary-container)) !important;
}

.v-toolbar {
    background-color: rgba(var(--v-theme-primary-container), 0.5) !important;
    color: rgb(var(--v-theme-on-primary-container)) !important;
}


/* Force all tables to be fully transparent and inherit the card's text color */
.v-table,
.v-table .v-table__wrapper,
.v-table table,
.v-table tbody,
.v-table tr,
.v-table th,
.v-table td {
    background: transparent !important;
    color: inherit !important;
}

.v-card {
    background-color: rgba(var(--v-theme-primary-container)) !important;
    backdrop-filter: blur(16px) !important;
    -webkit-backdrop-filter: blur(16px) !important;
    color: rgb(var(--v-theme-on-primary-container)) !important;
    /* Optional: Adds a subtle border to make the glass edge pop */
    border: 1px solid rgba(var(--v-theme-primary), 0.2) !important;
}